/* font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*,
::after,
::before
{
   padding: 0;
   margin: 0;
   font-size: 24px; 
}
body{
    font-family: "Open Sans",sans-serif ;
    background-color: #181818;
    color: #818181;
    line-height: 1.5;
    font-size: 18px;
}

nav{
    background-color: #fff;
    box-shadow: 0 5px  15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color:  #181818;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: #b3e7ff;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition:  all 0.3s linear;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition:  all 0.3s linear;
}
.show-links {
  height: 10rem;
}
